PORT=
// MongoDB Link [MongoDB](https://www.mongodb.com/)
DATABASE_URL=
JWKS_URI=
// Cloudinary link [Cloudinary](https://cloudinary.com/documentation/image_upload_api_reference)
CLOUDINARY_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_SECRET=
